<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/app.js"></script>
</head>
<body>
<h1>{{title}}</h1>
<img src="img/AMI_newsletter_blog_strategia_tiimi_850x650.jpg">

</body>
</html>